* {
  list-style: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 16px;
  height: 100%;
}
body{
  background-color: burlywood;
}
.container {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 15px;  
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
h1 {
  font-size: 3rem;
  font-style: normal;
  font-weight: bold;
  color: blueviolet;
  padding: 20px;
  
}
